
<div>
            
                <div >
                  <br>
                  {{#if error}}
                  <div class="fail">
                  <strong>{{error}} </strong>  
                  </div>
                  {{/if}}
                  <h2 class="large text-primary">Register</h2>
                  <p class="lead">Please fill in this form to create an account.</p>
                  
                  <form action="/ownerRegister" method="post" class="form"> 
                  <div class="form-group">
                  <label class="formlabel"><b>Name</b></label> 
                  <input name="Name" value="{{Name}}" type="text" placeholder="Enter Full name"  id="name" >
                  
                  </div>
                   <div class="form-group">
                  <label><b>Email</b></label>
                  <input name="email" value="{{email}}" type="email" placeholder="Enter Email" name="email" id="email" ></div>
                   <div class="form-group">
                 <label><b>Address</b></label>
                  <input name="address" value="{{address}}" type="text" placeholder="Enter Address"  id="address" ></div>
                   <div class="form-group">
                  <label ><b>Password</b></label>
                  <input name="password" value="{{password}}" type="password" placeholder="Enter Password" name="psw" id="psw" ></div>
                   <div class="form-group">
                  <label ><b>Confirm Password</b></label>
                  <input type="password" placeholder="Repeat Password" name="confirmpassword" id="confirmpassword" value="{{confirmpassword}}"></div>
                  
              
                   
                  <button type="submit" class="registerbtn">Register</button>
                  <br>
                  <br>
                  </div>
                  </form>
                </div>
              
                <div class="container signin">
                  <p>Already have an account? <a href="/customer_login">Sign in</a>.</p>
                </div>
              
        </div>